<div class="container">
  <h1>
    Life's Questions
  </h1>
  <hr>
  {{#if model}}
    {{#each question in model}}
      <div class="round-box question">
        <h3 class="intro">
          {{#link-to 'question' question}}{{question.title}}{{/link-to}}
        </h3>
        <span class="intro">&mdash; {{question.author}}</span>
      </div>
    {{/each}}
    {{else}}
    <br>
    <div class="round-box">
     
      <h4 class="intro">
        Questions. Everyone has them. Start us all off by asking one:
      </h4>
    </div>
  {{/if}}
  <br>
  <br>
  {{#link-to 'new-question' classNames="btn btn-default btn-block"}}New Question{{/link-to}}
</div>












