<div class="container">
  <h1>
    Life's Questions
  </h1> 
 		<ul>
 			{{#each}}
          <li>{{#link-to 'question' this.id}}{{title}}{{/link-to}}</li>
       
        <span class="intro">&mdash; {{question.author}}</span>

    	{{/each}}
    </ul>
     
      <h4 class="lead">
        Questions. Everyone has them. Start us off by asking one:
      </h4>
    <p><a href="#" {{action 'sortByTitle'}}>Sort By Title</a></p>
  <p>{{#link-to 'new-question' classNames="btn btn-default btn-block"}}New Question{{/link-to}}</p>
</div>











